/* form tong */
.register-form{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
.register-form-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(197, 197, 197, 0.4);
}
/* form body */
.register-form-body{
    width: 500px;
    margin: auto;
    background-color: white;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.auth-form-container{
    padding: 32px 50px;
}
/* lable dang ky */
.auth-form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.auth-form-register{
    font-size: 2.2rem;
    font-weight: 400;
    
}

.auth-form-header-btndangnhap{
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(223, 63, 63);
    cursor: pointer;
}
/* input account */
.auth-form-body-input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 15px;
    border-radius: 2px;
    border: 1px solid rgb(212, 212, 212);
    outline: none;
}
.auth-form-body-input:focus{
    border-color: grey;
}
/* Policy-chinh sach */
.auth-form-bottom{
    margin-top: 20px;
}
.auth-form-policy-text{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.auth-form-text-link{
    text-decoration: none;
    color: rgb(219, 46, 46);
}
.auth-form-text-link:hover{
    text-decoration: none;
}
.auth-form-controls{
    margin-left: 55%;
}
.btn.btn-trolai:hover{
    background-color: rgb(185, 185, 185);
}
.btn.btn-register{
    background-color: rgb(255, 76, 5);
}
/* Connect-socials */
.auth-form-socials{
    width: 100%;
    background-color: rgb(255, 250, 164);
    text-align: center;
    height: 70px;
    
}
.btn.btn-with-icon-facebook{
    background-color: rgb(30, 30, 174);
    margin-top: 15px;
    margin-right: 10px;
    color: white;
}
.btn.btn-with-icon-facebook:hover{
    color: rgb(223, 77, 24);
}

.fa-brands.fa-facebook-f{
    padding: 3px 3px 1px 4px ;
    border-radius: 2px;
    margin-right: 6px;
}
.btn.btn-with-icon-google{
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
    width: 200px ;
}
.btn.btn-with-icon-google:hover{
    color: rgb(223, 77, 24);
}